:root {
  --primary: #204635;
  --hitam: #0e0e0e;
  --bg: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Alegreya", sans-serif;
  background-color: var(--bg);
  color: var(--hitam);
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(34, 69, 55, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
  color: var(--bg);
}

.navbar .navbar-logo img {
  width: 10%;
  height: 10%;
  margin-right: 1rem;
}

.navbar .navbar-nav {
  display: flex;
  text-align: center;
  gap: 1rem;
  margin-left: -15rem;
}

.navbar .navbar-nav a {
  color: var(--bg);
  display: inline-block;
  font-family: "Open Sans";
  font-size: 1.4rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--bg);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--bg);
  transform: scaleX(0);
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
  transition: 0.2s linear;
}

/* shopping cart */
#shopping-cart-button {
  position: relative;
}

#shopping-cart-button .quantity-badge {
  display: inline-block;
  padding: 1px 5px;
  background-color: red;
  border-radius: 6px;
  font-size: 0.8rem;
  position: absolute;
  top: 0;
  right: -10px;
}

.shopping-cart {
  position: absolute;
  top: 100%;
  right: -100%;
  height: 100vh;
  width: 35%;
  padding: 0 1.5rem;
  padding-bottom: 8rem;
  background-color: var(--bg);
  color: var(--hitam);
  transition: 0.3s ease;
  overflow: auto;
  border: 1px solid var(--primary);
}

.shopping-cart.active {
  right: 0;
}

.shopping-cart .cart-item {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px dashed #666;
  position: relative;
}

.shopping-cart img {
  height: 5rem;
  border-radius: 50%;
}

.shopping-cart h3 {
  font-size: 1.6rem;
}

.shopping-cart .item-price {
  font-size: 1.4rem;
}

.shopping-cart .cart-item #add,
.shopping-cart .cart-item #remove {
  display: inline-block;
  padding: 2px 5px;
  cursor: pointer;
  margin: 0 8px;
  background-color: var(--hitam);
  color: var(--bg);
  font-weight: bold;
  font-size: 1.1rem;
}

.shopping-cart h4 {
  font-size: 1.6rem;
  margin-top: 1rem;
  text-align: center;
}

/* Checkout Form */
.form-container {
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: 1px dashed var(--hitam);
  margin-top: 1rem;
  padding: 1rem;
}

.form-container h5 {
  text-align: center;
  justify-content: center;
  font-size: 1rem;
}

.form-container form {
  width: 100%;
  text-align: center;
}

.form-container label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.form-container span {
  text-align: end;
  justify-content: end;
}

.form-container input {
  background-color: #ddd;
  padding: 5px;
  margin-left: 1rem;
  font-size: 1rem;
  width: 70%;
}

.form-container .checkout-button {
  padding: 6px 14px;
  background-color: royalblue;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 20px;
  margin: 1rem auto;
  cursor: pointer;
}

.form-container .checkout-button.disabled {
  background-color: #999;
  cursor: not-allowed;
}

/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(../img/bg/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  mask-image: linear-gradient(rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0));
}

.hero .content {
  padding: 1.4rem 7%;
  padding-top: 6rem;
  /* max-width: 60rem; */
  width: 100%;
  position: fixed;
  top: 150px;
}

.hero .content h1 {
  font-size: 7rem;
  color: var(--primary);
  text-shadow: -10px 10px 4px rgba(32, 70, 35, 0.295), 1px 1px 0 #fff;
  line-height: 1.2;
}

.hero .content .p2 {
  line-height: 1.8;
  margin-left: 17rem;
}

/* Menu Section */
.products {
  background-image: url(../img/bg/bg2.png);
  background-position: center;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: 60%;
}

.products,
.address,
.menu1,
.menu2 {
  padding: 8rem 7% 1.4rem;
}

.products h2,
.address h2,
.menu1 h2,
.menu2 h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.products h2 span,
.address h2 span,
.menu1 h2 span,
.menu2 h2 span {
  color: var(--primary);
}

.products p,
.menu1 p,
.menu2 p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-weight: 200;
  line-height: 1.6rem;
}

.products .row,
.menu1 .row,
.menu2 .row {
  display: flex;
  flex-wrap: wrap;
  gap: 90px;
  justify-content: center;
}

.products .product-card,
.menu1 .product-card,
.menu2 .product-card {
  background-color: #f3f3f3;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 200px;
  text-align: center;
}

.products .product-image img,
.menu1 .product-image img,
.menu2 .product-image img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 0px 0px 50px 50px;
}

.products .product-content h3,
.menu1 .product-content h3,
.menu2 .product-content h3 {
  font-size: 1.8rem;
  margin: 0.5rem;
}

.products .product-price,
.menu1 .product-price,
.menu2 .product-price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin: 1rem;
}

.products .product-price .price,
.menu1 .product-price .price,
.menu2 .product-price .price {
  font-size: 1.8rem;
  font-weight: bold;
}

.products .product-price a,
.menu1 .product-price a,
.menu2 .product-price a {
  width: 8rem;
  height: 4rem;
  font-size: 1.1rem;
  color: var(--bg);
  background-color: var(--primary);
  border: 1px solid #666;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.products .product-price a:hover,
.menu1 .product-price a:hover,
.menu2 .product-price a:hover {
  background-color: var(--bg);
  border: 1px solid var(--primary);
  color: var(--primary);
}

/* Address Section */
.location-card {
  width: 90%;
  max-width: 1000px;
  background-color: #f3f3f3;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-left: 4.5rem;
}

.location-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 0px 0px 50px 50px;
}

.location-details {
  padding: 20px;
  text-align: center;
}

.location-link a {
  color: #0077cc;
  text-decoration: none;
  font-size: 14px;
  display: block;
  margin-bottom: 10px;
}

.location-link a:hover {
  text-decoration: underline;
}

.location-address {
  font-size: 16px;
  color: #333333;
  margin-bottom: 20px;
}

.location-button {
  background-color: #234f32;
  font-family: "Alegreya", sans-serif;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.location-button:hover {
  background-color: #1e3e2b;
}

/* Contact Section */
.contact {
  display: flex;
  gap: 15rem;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.contact-card,
.scan-card {
  background-color: #f3f3f3;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 25rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
}

.contact .icon {
  font-size: 4rem;
  margin-top: 1rem;
}

.contact-number {
  font-size: 18px;
  color: #234f32;
  margin: 10px 0;
}

.contact-button {
  background-color: #234f32;
  font-family: "Alegreya", sans-serif;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 1rem;
}

.contact-button:hover {
  background-color: #1e3e2b;
}

.scan-text {
  font-size: 18px;
  color: #333333;
}

.scan-card img {
  width: 15rem;
  margin-top: 0.5rem;
}

/* Footer */
footer {
  background-color: var(--primary);
  text-align: center;
  padding: 1rem 0;
  margin-top: 3rem;
  padding-bottom: 3rem;
}

footer .socials {
  padding: 1rem 0;
}

footer .socials a {
  color: #fff;
  margin: 1rem;
  font-size: 1.6rem;
}

footer .socials a:hover,
footer .links a:hover {
  color: var(--hitam);
}

footer .links {
  margin-bottom: 1.4rem;
  font-size: 1.2rem;
}

footer .links a {
  color: #fff;
  padding: 0.7rem 1rem;
}

footer .credit {
  font-size: 1.1rem;
  color: var(--bg);
}

footer .credit span {
  font-weight: 700;
}

/* Media Queries */
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: inline-block;
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 1.4rem;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
    transition: 0.2s linear;
  }

  .shopping-cart {
    width: 100%;
  }

  .hero .content h1 {
    font-size: 7rem;
  }
  .hero .content .p2 {
    margin-left: 0rem;
    margin-top: -15px;
  }

  .address .location-card {
    margin-left: 2.3rem;
  }

  .contact {
    flex-wrap: wrap;
  }

  .scan-card {
    margin-top: -12rem;
  }
}

/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
